extends layout
  
block content
    h1= title
    form.col-md-6(method= 'POST')
        #form-group
            label Title
            input.form-control(name='title', type='text', placeholder='Title')
        #form-group
            label Article Body
            textarea.form-control(name='body')
        br
        input.btn.btn-success(type='submit', name='submit')