extends layout

block content
    .jumbotron
        h4=art.title
        h5 Written by #{author}
        p=art.body
    if user
        if user.id == art.author 
            a.btn.btn-primary(href='/article/edit/'+art._id) Edit
            a.btn.btn-danger.delete-article(href='#',data-id=art._id) Delete