extends layout

block content
  h1= title
  p Welcome to #{title}
  ul.list-group.list-group-flush
    each article, i in articles
      li.list-group-item.list-group-item-info
        a(href="article/"+article._id)= article.title
        
       
